@font-face {
  font-family: 'Aldo';
  src:  url('aldo.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
.c-img-responsive {
  display: block;
  max-width: 140px;
  height: auto;
  margin: auto;
  background-color: transparent;
}
.c-login-title {
  font-family: 'Aldo' !important;
  margin: 0;
  padding: 0;
  text-align: center;
  text-transform: none;
}
.page-signin .signin-header, .page-signup .signin-header, .page-forgot .signin-header {
  margin-top: 100px;
}

.c-table-products {
  & > thead {
    color: #ffffff;
    background-color: #707070;
  }
}

.c-panel-products.panel-body {
  height: 100%;
}

.c-label-subscript{
  font-weight: lighter;
  font-style: italic;
}

.c-full-width {
  width: 100%;
}

.c-section-header {
  padding-bottom: @padding-xs-horizontal;
  margin: 10px 0 10px;
  border-bottom: 1px solid fade(@text-color, 40);
  vertical-align: middle;
}

.c-section-header .c-legend {
  font-size: @font-size-h3;
  font-weight: bold;
}

.c-section-header .c-legend-md {
  font-size: @font-size-h4;
  font-weight: bold;
}

.c-row-no-padding {
  [class*="col-"] {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}

.c-no-padding-right {
    padding-right: 0 !important;
}

.c-no-padding-left {
    padding-left: 0 !important;
}

.c-short-padding-right {
  padding-right: 2px !important;
}

.c-short-padding-left {
  padding-left: 2px !important;
}

.c-half-cell-vertical-padding {
  padding-top: @table-cell-padding/2 !important;
  padding-bottom: @table-cell-padding/2 !important;
}

.c-row-group {
  display: table;
}

.c-row-group-element {
  display: table-cell;
}

.c-row-group-element-main {
  width: 100%;
  display: table-cell;
}

.c-btn-bg-default {
  background-color: lighten(@btn-default-border, 10%);
}

.c-margin-bottom-xxs {margin-bottom: ceil(@line-height-computed / 10);}
.c-margin-bottom-xs {margin-bottom: ceil(@line-height-computed / 4);}
.c-margin-bottom-sm {margin-bottom: ceil(@line-height-computed / 2);}
.c-margin-bottom-md {margin-bottom: @line-height-computed;}
.c-margin-bottom-lg {margin-bottom: ceil(@line-height-computed * 2);}

hr.spacer-10 {
  border: 0;
  clear: both;
  margin:0 0 10px;
}

.small-space {
  display: inline;
  padding: 1px;
}

.fill-height {
  height: 100%;
}

.well-custom {
  padding: 9px;
  border-radius: @border-radius-large;
}


@import "./register.less";
