@product-box-height:          90px;
@product-box-width:          135px;

#register {
  height: 100%;
  display: flex;
  flex-direction: column;
}

#register-list {
  flex: 1;
}


.products-container {
  padding: 10px 12px 10px 12px;
  margin: 0;
  list-style: none;

  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  justify-content: space-between;
}

.product-box {
  height: @product-box-height;
  width: @product-box-width;
  padding: 8px;
  margin-bottom: 10px;
  -webkit-box-shadow: 0 8px 6px -6px  #999;
  -moz-box-shadow: 0 8px 6px -6px  #999;
  box-shadow: 0 8px 6px -6px #999;
  border: 1px solid rgba(148, 183, 88, 0.3);
  cursor: pointer; cursor: hand;
  &:hover{
    background-color: @bright;
    border: @state-default-border-light;
  }
}
.products-panel {
  & > .panel-heading {
    color: @panel-primary-text;
    background-color: @panel-primary-heading-bg;
    border-color: @panel-primary-border;
  }
}

.product-filler {
  width: @product-box-width;
  border-color: transparent;
  min-height: 0;
  height: 0;
  padding-top: 0;
  padding-bottom: 0;
  margin-bottom: 0;
}

.product-title {
  font-weight:bold;
  padding:5px 0 0 0;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.product-subtitle {
  font-size: @font-size-small;
  padding:2px 0 5px 0;
  min-height: @font-size-small + 7px;
  line-height: 1;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.product-price {
  border-top:1px solid #cecece;
  padding-top:5px;
}

.price-text {
  font-weight:bold;
  font-style: italic;
  font-size:1em;
}

.borderless tbody tr td, .borderless tbody tr th, .borderless thead tr th {
  border: none;
}

.btn-icon-xs {
  .button-icon-variant(25px);
}

.btn-item-count {
  background-color: @btn-default-bg;
  border: @btn-default-border;
}

.price-badge {
  font-size: @font-size-base;
  margin-top: 3px;
  cursor: pointer; cursor: hand;
}

.table-hover {
  > tbody > tr:hover .ui-rating {
    display: inline-block;
  }
}

.table-hover {
  > tbody > tr .ui-rating {
    display: none;
  }
}

.parent:hover .child, .parent.hover .child {
  display: block;
}