<section class="page">
    <div class="panel panel-default c-panel-products">
        <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> <span data-i18n="Orders"></span></strong></div>
        <div class="panel-body">
            <div class="row">
                <div class="col-sm-4">
                    <div class="input-group">
                        <input type="text" class="form-control" i18n="i18n-placeholder" placeholder="Search order...">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search"></span></button>
                        </span>
                    </div>
                </div>
                <div class="col-sm-7 col-md-offset-1">
                    <div class="pull-right">
                        <button class="btn btn-w-sm btn-md btn-gap-v btn-round btn-info" ng-click="ctrl.newOrder()"><span class="fa fa-plus"></span> <span data-i18n="New Order"></span></button>
                    </div>
                </div>
            </div>
            <div class="divider"></div>
            <div class="row">
                <div class="col-md-12">
                    <div class="table-responsive panel panel-default">
                        <table class="table">
                            <thead >
                                <tr>
                                    <th i18n="Id"></th>
                                    <th class="" i18n="Status"></th>
                                    <th class="" i18n="Date"></th>
                                    <th class="hidden-xs" i18n="Supplier"></th>
                                    <th class="" i18n="Invoice"></th>
                                    <th class="numeric hidden-xs" i18n="Cost"></th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                    <div ng-if="ctrl.totalProducts">
                        <uib-pagination total-items="ctrl.totalProducts"
                        ng-model="ctrl.currentPage"
                        items-per-page="8"
                        max-size="5"
                        class="pagination-sm pull-right no-margin"
                        boundary-links="true"
                        previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"
                        num-pages="numPages" ng-hide="numPages<=1"
                        ng-change="ctrl.pageChange()"
                        ></uib-pagination>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>

<script type="text/ng-template" id="newOrderModal.html">
<div class="modal-header bg-info">
<h4 class="modal-title" i18n="New Order"></h4>
</div>
<div class="modal-body">
<form class="form-horizontal" role="form" name="newOrderForm">
<div class="row">
<div class="col-sm-10 col-sm-offset-1">
<label class="control-label" for="newOrderSupplier" i18n="Supplier"></label>
<input id="newOrderSupplier" class="form-control" type="text" ng-model="modalCtrl.supplier" min="3" ngMaxlength="50" required i18n="i18n-placeholder" placeholder="Enter a supplier...">
</div>
</div>
</form>
</div>
<div class="modal-footer">
<button class="btn btn-info" ng-click="modalCtrl.ok()" i18n="Add" ng-disabled="newOrderForm.$invalid" accesskey="A"></button>
<button class="btn btn-default" ng-click="modalCtrl.cancel()" i18n="Cancel"></button>
</div>
</script>