<div class="panel product-box" ng-repeat="product in products">
    <div class="product-title">{{product.name}}</div>
    <div class="product-subtitle">{{product.fraction.name}}</div>
    <div class="product-price">
        <div class="pull-right">
            <a href class="btn-icon btn-icon-xs"><i class="fa fa-trash"></i></a>
        </div>
        <div class="price-text">{{product.retailPrice}}</div>
    </div>
</div>

<div class="product-filler"></div>
<div class="product-filler"></div>
<div class="product-filler"></div>
<div class="product-filler"></div>
<div class="product-filler"></div>