<section class="page">
    <div class="panel panel-default c-panel-products">
        <div class="panel-body">
            <div class="row">
                <div class="col-sm-4">
                    <div class="input-group">
                        <input type="text" class="form-control" i18n="i18n-placeholder" placeholder="Search order...">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search"></span></button>
                        </span>
                    </div>
                </div>
                <div class="col-sm-7 col-md-offset-1">
                    <div class="pull-right">
                        <button class="btn btn-w-sm btn-md btn-gap-v btn-round btn-default" ng-click="ctrl.goToReceiveOrder()"><span class="fa fa-truck"></span> <span data-i18n="Receive Order"></span></button>
                        <button class="btn btn-w-sm btn-md btn-gap-v btn-round btn-default" ng-click="ctrl.goToAddProduct()"><span class="fa fa-reply"></span> <span data-i18n="Retrun Stock"></span></button>
                        <button class="btn btn-w-sm btn-md btn-gap-v btn-round btn-default" ng-click="ctrl.goToAddProduct()"><span class="fa fa-check-circle-o"></span> <span data-i18n="Count Stock"></span></button>
                    </div>
                </div>
            </div>
            <div class="divider"></div>
            <div class="row">
                <div class="col-md-12">
                    <div class="table-responsive panel panel-default">
                        <table class="table">
                            <thead >
                                <tr>
                                    <th i18n="Id"></th>
                                    <th class="" i18n="Status"></th>
                                    <th class="" i18n="Date"></th>
                                    <th class="hidden-xs" i18n="Supplier"></th>
                                    <th class="" i18n="Invoice"></th>
                                    <th class="numeric hidden-xs" i18n="Cost"></th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                    <div ng-if="ctrl.totalProducts">
                        <uib-pagination total-items="ctrl.totalProducts"
                        ng-model="ctrl.currentPage"
                        items-per-page="8"
                        max-size="5"
                        class="pagination-sm pull-right no-margin"
                        boundary-links="true"
                        previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"
                        num-pages="numPages" ng-hide="numPages<=1"
                        ng-change="ctrl.pageChange()"
                        ></uib-pagination>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>