@(title: String)

<section class="page">
    <accordion close-others="false">
        <p class="size-h3" i18n="@title"></p>
        <form class="form-horizontal" role="form">

            <div class="panel panel-default">
                <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> <span data-i18n="Details"></span></strong></div>
                <div class="panel-body">
                    <div class="col-md-9">

                        <div class="form-group">
                            <label for="productName" class="col-sm-2 control-label" i18n="Name"></label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="productName" name="name" i18n="i18n-placeholder" placeholder="Product Name" autofocus>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="productBarcode" class="col-sm-2 control-label" i18n="Bar Code"></label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="productBarcode" name="barcode" i18n="i18n-placeholder" placeholder="Product Bar Code">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="productDescription" i18n="Description"></label>
                            <div class="col-sm-10">
                                <textarea rows="2" class="form-control" id="productDescription" name="description" i18n="i18n-placeholder" placeholder="Product Description"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="productBrand" i18n="Brand"></label>
                            <div class="col-sm-5">
                                <ui-select ng-model="address.selected" id="productBrand"
                                theme="bootstrap"
                                reset-search-input="false" >
                                    <ui-select-match placeholder="Enter an address...">
                                        {{$select.selected.formatted_address}}</ui-select-match>
                                    <ui-select-choices repeat="address in addresses track by $index"
                                    refresh="refreshAddresses($select.search)"
                                    refresh-delay="0">
                                        <div ng-bind-html="address.formatted_address | highlight: $select.search"></div>
                                    </ui-select-choices>
                                </ui-select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="productTags" i18n="Tags"></label>
                            <div class="col-sm-5">
                                <tags-input ng-model="tags" ng-init="tags=[{ text: 'just' },{ text: 'some' }]" class="ui-tags-input" id="productTags" placeholder="..."></tags-input>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <accordion-group is-open="pricing.open" ng-init="pricing.open=true">
                <accordion-heading>
                    <strong><span class="glyphicon glyphicon-th"></span>  <span data-i18n="Pricing"></span></strong><i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': pricing.open, 'glyphicon-chevron-right': !pricing.open}"></i>
                </accordion-heading>

                <div class="form-group">
                    <div class="col-md-10 col-md-offset-1 col-sm-offset-0 col-xs-offset-0">

                        <div class="row">
                            <div class="col-md-2">
                                <label class="control-label" for="productCost" i18n="Cost"></label>
                                <div class="input-group">
                                    <span class="input-group-addon">$</span>
                                    <input id="productCost" class="form-control" type="text" ng-model="model.cost" money ngMaxlength="17">
                                </div>
                                <small i18n="No Taxes"></small>
                            </div>

                            <div class="col-md-2">
                                <div class="row">
                                    <div class="col-lg-2 hidden-xs hidden-sm hidden-md">
                                        <label class="control-label" for="">&nbsp;</label>
                                        <div class="input-group">
                                            <strong class="media-middle">+</strong>
                                        </div>
                                    </div>
                                    <div class="col-md-10">
                                        <label class="control-label" for="productMarkup" i18n="Markup"></label>
                                        <div class="input-group">
                                            <input id="productMarkup" class="form-control" type="text" ng-model="model.cost" money mgMaxlength="8">
                                            <span class="input-group-addon">%</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="row">
                                    <div class="col-lg-2 hidden-xs hidden-sm hidden-md">
                                        <label class="control-label" for="">&nbsp;</label>
                                        <div class="input-group">
                                            <strong class="media-middle">=</strong>
                                        </div>
                                    </div>
                                    <div class="col-md-10">
                                        <label class="control-label" for="productMarkup" i18n="Markup"></label>
                                        <div class="input-group">
                                            <input id="productMarkup" class="form-control" type="text" ng-model="model.cost" money mgMaxlength="8">
                                            <span class="input-group-addon">%</span>
                                        </div>
                                        <small i18n="No Taxes"></small>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="row">
                                    <div class="col-lg-2 hidden-xs hidden-sm hidden-md">
                                        <label class="control-label" for="">&nbsp;</label>
                                        <div class="input-group">
                                            <strong class="media-middle">+</strong>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <label class="control-label" for="productBrand" i18n="Brand"></label>
                                        <div class="input-group">
                                            <span class="ui-select">
                                                <select>
                                                    <option value="Mustard">No Tax</option>
                                                    <option value="Ketchup">Iva</option>
                                                    <option value="Barbecue">Other</option>
                                                </select>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>


                </div>
            </accordion-group>
            <accordion-group heading="{{group.title}}" ng-repeat="group in groups">
                {{group.content}}
            </accordion-group>
            <accordion-group heading="Dynamic Body Content">
                <p>The body of the accordion group grows to fit the contents</p>
                <button class="btn btn-default btn-sm" ng-click="addItem()">Add Item</button>
                <div ng-repeat="item in items">{{item}}</div>
            </accordion-group>
            <accordion-group is-open="status.open">
                <accordion-heading>
                    I can have markup, too! <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
                </accordion-heading>
                This is just some content to illustrate fancy headings.
            </accordion-group>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </accordion>
</section>
