<section class="page">
    <div class="panel panel-default c-panel-products">
        <div class="panel-heading">
            <button class="btn btn-w-sm btn-gap-v btn-round btn-info" ng-click="ctrl.goToAddProduct()"><span class="glyphicon glyphicon-plus"></span> <span data-i18n="Add Product"></span></button>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-6">
                    <div class="input-group">
                        <input type="text" class="form-control" i18n="i18n-placeholder" placeholder="Search for product...">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search"></span></button>
                        </span>
                    </div>
                </div>
            </div>
            <div class="divider"></div>
            <div class="row">
                <div class="col-md-12">
                    <div class="table-responsive panel panel-default">
                        <table class="table">
                            <thead >
                                <tr>
                                    <th>Product</th>
                                    <th class="hidden-xs">Brand & Tags</th>
                                    <th class="numeric">Price</th>
                                    <th class="numeric">Count</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="product in ctrl.products track by product.id">
                                    <td class="text-left">
                                        <p class="c-margin-bottom-xxs">
                                            <a href ng-click="ctrl.showProduct(product.id)">{{product.name}}</a>
                                        </p>
                                        <small>SKU: {{product.sku}}</small>
                                    </td>
                                    <td class="hidden-xs">
                                        <p class="c-margin-bottom-xxs" ng-if="product.brand!=null">{{product.brand}}</p>
                                        <p class="c-margin-bottom-xxs" ng-if="product.brand==null" i18n="No Brand"></p>
                                        <span ng-repeat="tag in product.tags">
                                            <span class="label label-success">{{tag}}</span>
                                            <div class="small-space"></div>
                                        </span>
                                    </td>
                                    <td class="numeric">{{product.retailPrice}}</td>
                                    <td class="numeric">{{product.stockCount}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>