@(title: String)

<section class="page">
    <p class="size-h3" i18n="@title"></p>
    <form class="form-horizontal" name="productForm" novalidate ng-submit="saveProduct(!productForm.$invalid)">

        <div class="panel panel-default">
            <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> <span data-i18n="Details"></span></strong></div>
            <div class="panel-body">
                <div class="col-md-9">
                    <div class="form-group">
                        <label for="productSku" class="col-sm-2 control-label" i18n="SKU"></label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="productSku"
                            ng-model="ctrl.product.sku" i18n="i18n-placeholder" placeholder="Product SKU or Bar Code" autofocus>
                        </div>
                    </div>
                    <div class="form-group" ng-class="{ 'has-error' : productForm.name.$invalid && !productForm.name.$pristine }">
                        <label for="productName" class="col-sm-2 control-label" i18n="Name"></label>
                        <div class="col-sm-10">
                            <input type="text" name="name" required class="form-control" ng-minlength="3" id="productName" ng-model="ctrl.product.name" min="3" i18n="i18n-placeholder" placeholder="Product Name">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="productBrand" i18n="Brand"></label>
                        <div class="col-sm-7 col-xs-12">
                            <div class="c-row-group">
                                <ui-select ng-model="ctrl.product.brand" id="productBrand"
                                theme="bootstrap"
                                on-select="ctrl.brandSelected($select)"
                                reset-search-input="false" class="c-row-group-element-main c-short-padding-right">
                                    <ui-select-match allow-clear placeholder="Select Brand...">
                                        {{$select.selected.name}}
                                    </ui-select-match>
                                    <ui-select-choices repeat="brand in ctrl.brands | filter: $select.search"
                                    refresh="ctrl.refreshBrands($select)"
                                    refresh-delay="0" first-item-active="false" >
                                        <div ng-bind-html="brand.name | highlight: $select.search"></div>
                                    </ui-select-choices>
                                </ui-select>
                                <div class="c-short-padding-left">
                                    <button class="btn btn-default c-row-group-element" ng-click="ctrl.addBrand()" type="button"><span class="glyphicon glyphicon-plus"></span></button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="productTax" i18n="Tax"></label>
                        <div class="col-sm-7">
                            <ui-select ng-model="ctrl.product.tax" ng-change="ctrl.taxChanged()" id="productTax"
                            theme="bootstrap" on-select="ctrl.taxSelected($select)">
                                <ui-select-match allow-clear placeholder="Select Tax...">
                                    {{$select.selected.name}} ({{$select.selected.percentage}}%)</ui-select-match>
                                <ui-select-choices repeat="tax in ctrl.taxes track by $index">
                                    <span ng-bind-html="tax.name"></span><span ng-if="tax.id != null" ng-bind-html="' (' + tax.percentage + '%)'"></span>
                                </ui-select-choices>
                            </ui-select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="productTags" i18n="Tags"></label>
                        <div class="col-sm-7">
                            <tags-input ng-model="ctrl.product.tags" display-property="name" key-property="id" replace-spaces-with-dashes="false" class="ui-tags-input" id="productTags" on-tag-adding="ctrl.handleAddingTag($tag)" placeholder="...">
                                <auto-complete source="ctrl.loadTags($query)" min-length="0" load-on-focus="true"
                                load-on-empty="false" max-results-to-show="32"></auto-complete>
                            </tags-input>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> <span data-i18n="Pricing"></span></strong></div>

            <div class="panel-body">
                <div class="form-group">
                    <div class="col-xs-10 col-xs-offset-1">
                            <div class="row">
                                <div class="col-md-3">
                                    <label class="control-label" for="productCost"><span i18n="Cost"></span>&nbsp;&nbsp;<small i18n="(No Taxes)" class="c-label-subscript"></small></label>
                                    <div class="input-group">
                                        <span class="input-group-addon">$</span>
                                        <input id="productCost" name="productCost" class="form-control" type="text" ng-model="ctrl.product.cost" ng-change="ctrl.productCostUpdated(productForm.productCost.$valid)" money ngMaxlength="17" interpret="true">
                                    </div>
                                </div>

                                <div class="col-md-2">
                                    <label class="control-label" for="productMarkup" i18n="Markup"></label>
                                    <div class="input-group">
                                        <input id="productMarkup" class="form-control" type="text" ng-model="ctrl.product.markup" ng-change="ctrl.productMarkupUpdated()" money mgMaxlength="8" precision="2">
                                        <span class="input-group-addon">%</span>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <label class="control-label" for="productPrice"><span i18n="Price"></span>&nbsp;&nbsp;<small i18n="(No Taxes)" class="c-label-subscript"></small></label>
                                    <div class="input-group">
                                        <span class="input-group-addon">$</span>
                                        <input id="productPrice" class="form-control" type="text" ng-model="ctrl.product.price" ng-change="ctrl.productPriceUpdated()" money mgMaxlength="8">
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <label class="control-label" for="retailPrice"><span i18n="Total Price"></span>&nbsp;&nbsp;<small i18n="(After Taxes)" class="c-label-subscript"></small></label>
                                    <div class="input-group">
                                        <span class="input-group-addon">$</span>
                                        <input id="retailPrice" class="form-control" type="text" ng-model="ctrl.product.retailPrice" ng-change="ctrl.retailPriceUpdated()" money mgMaxlength="8">
                                    </div>
                                </div>
                            </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> <span data-i18n="Inventory"></span></strong></div>

            <div class="panel-body">

                @*<div class="ui-tab-container ui-tab-reverse">*@
                    @*<uib-tabset class="ui-tab">*@
                        @*<uib-tab>*@
                            @*<uib-tab-heading i18n="Standard"></uib-tab-heading>*@
                            <div class="well well-sm bg-reverse">
                                <div class="c-section-header">
                                    <span class="c-legend">Track Stock</span>
                                    <div class="space"></div>
                                    <checkbox ng-model="ctrl.product.trackStock" class="btn-primary btn-gap-v"></checkbox>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-10 col-sm-offset-1">
                                        <div class="col-xs-4">
                                            <label class="control-label" for="stockCount" i18n="In Stock"></label>
                                            <input id="stockCount" class="form-control" type="number" ng-model="ctrl.product.stockCount" min="0" ng-disabled="!ctrl.product.trackStock">
                                        </div>
                                        <div class="col-xs-2 col-xs-offset-1">
                                            <label class="control-label" for="" i18n="Alert"></label>
                                            <div class="input-group media-middle">
                                                <checkbox ng-model="ctrl.product.alertStockLowLevel" large class="btn-default btn-gap-v btn-round" ng-disabled="!ctrl.product.trackStock"></checkbox>
                                            </div>
                                        </div>
                                        <div class="col-xs-4 col-xs-offset-1">
                                            <label class="control-label" for="alertLevel" i18n="Alert at"></label>
                                            <input id="alertLevel" class="form-control" type="number" ng-model="ctrl.product.stockAlertLevel" min="0" ng-disabled="!ctrl.product.alertStockLowLevel || !ctrl.product.trackStock">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="well well-sm bg-reverse">
                                <div class="c-section-header">
                                    <span class="c-legend" i18n="Fractions"></span>
                                    <div class="space"></div>
                                    <button class="btn btn-xs btn-gap-v btn-round btn-info" ng-click="ctrl.addFraction()" type="button"><span class="glyphicon glyphicon-plus"></span> <span data-i18n="Add"></span></button>
                                </div>
                                <div class="row">
                                    <div class="col-sm-10 col-sm-offset-1">
                                        <div ng-repeat="fraction in ctrl.product.fractions track by $index">
                                            <div class="row c-margin-bottom-sm">
                                                <div class="col-sm-5" ng-class="{ 'has-error' : productForm['fractionName'+$index].$invalid && !productForm['fractionName'+$index].$pristine }">
                                                    <label ng-if="$index==0" class="control-label" for="fractionName" i18n="Name"></label>
                                                    <input type="text" class="form-control" name="fractionName{{$index}}" id="fractionName" i18n="i18n-placeholder" placeholder="Name" ng-model="fraction.name" required>
                                                </div>
                                                <div class="col-sm-2" ng-class="{ 'has-error' : productForm['fractionProportion'+$index].$invalid && !productForm['fractionProportion'+$index].$pristine }">
                                                    <label ng-if="$index==0" class="control-label" for="fractionProportion" i18n="Qty in Pack"></label>
                                                    <input id="fractionProportion" name="fractionProportion{{$index}}" class="form-control"
                                                            type="number" min="1" mgMaxlength="6" ng-model="fraction.qty"
                                                            ng-change="ctrl.fractionProportionChanged($index)" ng-disabled="$index==0"
                                                            i18n="i18n-placeholder" placeholder="Eg. 100" uib-popover="How many of this fractions are contained in the main package?" popover-trigger="focus"
                                                            required>
                                                </div>
                                                <div class="col-sm-4" ng-class="{ 'has-error' : productForm['fractionPrice'+$index].$invalid && !productForm['fractionPrice'+$index].$pristine }">
                                                    <label ng-if="$index==0" class="control-label" for="fractionPrice" i18n="Price"></label>
                                                    <div class="row">
                                                        <div class="col-xs-10">
                                                            <input id="fractionPrice" name="fractionPrice{{$index}}" class="form-control" type="text" money mgMaxlength="8" ng-model="fraction.price" ng-change="ctrl.fractionPriceChanged($index, productForm.fractionPrice{{$index}})" ng-disabled="$index==0" i18n="i18n-placeholder" placeholder="Retail price" required>
                                                        </div>
                                                        <div class="col-xs-2 c-no-padding-left">
                                                            <a href="javascript:;" class="btn-icon btn-icon-round btn-icon-sm bg-danger" ng-show="$index>0" ng-click="ctrl.removeFraction($index)"><i class="fa fa-remove"></i></a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                        @*</uib-tab>*@
                        @*<uib-tab disabled="true">*@
                            @*<uib-tab-heading i18n="Composite"></uib-tab-heading>*@
                        @*</uib-tab>*@
                    @*</uib-tabset>*@
                @*</div>*@
                <hr class="spacer-10"/>
                <div class="row pull-right">
                    <div class="col-xs-12">
                        <button type="button" class="btn btn-info btn-w-lg btn-gap-v btn-round" ng-disabled="productForm.$invalid || saving" ng-click="ctrl.saveProduct(!productForm.$invalid)" i18n="Save"></button>
                        <button type="button" class="btn btn-default btn-w-lg btn-gap-v btn-round" i18n="Cancel" go-back></button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</section>

<script type="text/ng-template" id="addBrandModal.html">
<div class="modal-header">
<h3>Add Brand!</h3>
</div>
<div class="modal-body">
<div ng-hide="modalCtrl.showInput">
<span i18n="Do you want to create a new brand called:"></span> &nbsp; <strong>{{ modalCtrl.newBrandName }}</strong> <span>?</span>
</div>
<div ng-show="modalCtrl.showInput">
<form class="form-horizontal" role="form">
<div class="form-group">
<div class="col-xs-8">
<label class="control-label" for="newBrand" i18n="Brand Name"></label>
<input id="newBrand" class="form-control" type="text" ng-model="modalCtrl.newBrandName" min="1" ng-change="modalCtrl.inputChange()" focus-here="modalCtrl.showInput" focus-delay="250">
</div>
</div>
</form>
</div>
</div>
<div class="modal-footer">
<button class="btn btn-info" ng-click="modalCtrl.ok()" i18n="Add" ng-disabled="modalCtrl.disableSave" accesskey="A" focus-here="!modalCtrl.showInput" focus-delay="250"></button>
<button class="btn btn-warning" ng-click="modalCtrl.cancel()" i18n="Cancel"></button>
</div>
</script>

<script type="text/ng-template" id="addTaxModal.html">
<div class="modal-header">
<h3 i18n="Add Tax"></h3>
</div>
<div class="modal-body">
<form class="form-horizontal" role="form">
<div class="row">
<div class="col-sm-5 col-sm-offset-1">
<label class="control-label" for="newTax" i18n="Name"></label>
<input id="newTax" class="form-control" type="text" ng-model="modalCtrl.newTax.name" min="1" ng-change="modalCtrl.inputChange()" focus-here focus-delay="250">
</div>
<div class="col-sm-3 col-sm-offset-1">
<label class="control-label" for="newTaxPercentage" i18n="Percentage"></label>
<input id="newTaxPercentage" class="form-control" type="text" ng-model="modalCtrl.newTax.percentage" money mgMaxlength="8" precision="2">
</div>
</div>
</form>
</div>
<div class="modal-footer">
<button class="btn btn-info" ng-click="modalCtrl.ok()" i18n="Add" ng-disabled="modalCtrl.disableSave" accesskey="A"></button>
<button class="btn btn-warning" ng-click="modalCtrl.cancel()" i18n="Cancel"></button>
</div>
</script>
