<section class="page">
    <div class="panel panel-default c-panel-products">
        <div class="panel-heading">
            <button class="btn btn-w-sm btn-gap-v btn-round btn-info" ng-click="ctrl.goToAddProduct()"><span class="glyphicon glyphicon-plus"></span> <span data-i18n="Add Product"></span></button>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-6">
                    <div class="input-group">
                        <input type="text" class="form-control" i18n="i18n-placeholder" placeholder="Search for product...">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search"></span></button>
                        </span>
                    </div>
                </div>
            </div>
            <div class="divider"></div>
            <div class="row">
                <div class="col-md-12">
                    <div class="table-responsive panel panel-default">
                        <table class="table table-bordered cf c-table-products">
                            <thead class="cf">
                                <tr>
                                    <th>Product</th>
                                    <th class="hidden-xs">Brand</th>
                                    <th class="hidden-xs hidden-sm">Tags</th>
                                    <th class="numeric">Price</th>
                                    <th class="numeric">Count</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Dicloxacilina Tabletas x 100mg </td>
                                    <td class="hidden-xs">Table cell</td>
                                    <td class="hidden-xs hidden-sm">Table cell</td>
                                    <td class="numeric">$1.200,00</td>
                                    <td class="numeric">2</td>
                                </tr>
                                <tr>
                                    <td>Table cell</td>
                                    <td class="hidden-xs">Table cell</td>
                                    <td class="hidden-xs hidden-sm">Table cell</td>
                                    <td class="numeric">$1.200,00</td>
                                    <td class="numeric">2</td>
                                </tr>
                                <tr>
                                    <td>Table cell</td>
                                    <td class="hidden-xs">Table cell</td>
                                    <td class="hidden-xs hidden-sm">Table cell</td>
                                    <td class="numeric">$1.200,00</td>
                                    <td class="numeric">2</td>
                                </tr>
                                <tr>
                                    <td>Table cell</td>
                                    <td class="hidden-xs">Table cell</td>
                                    <td class="hidden-xs hidden-sm">Table cell</td>
                                    <td class="numeric">$1.200,00</td>
                                    <td class="numeric">2</td>
                                </tr>
                                <tr>
                                    <td>Table cell</td>
                                    <td class="hidden-xs">Table cell</td>
                                    <td class="hidden-xs hidden-sm">Table cell</td>
                                    <td class="numeric">$1.200,00</td>
                                    <td class="numeric">2</td>
                                </tr>
                                <tr>
                                    <td>Table cell</td>
                                    <td class="hidden-xs">Table cell</td>
                                    <td class="hidden-xs hidden-sm">Table cell</td>
                                    <td class="numeric">$1.200,00</td>
                                    <td class="numeric">2</td>
                                </tr>
                                <tr>
                                    <td>Table cell</td>
                                    <td class="hidden-xs">Table cell</td>
                                    <td class="hidden-xs hidden-sm">Table cell</td>
                                    <td class="numeric">$1.200,00</td>
                                    <td class="numeric">2</td>
                                </tr>
                                <tr>
                                    <td>Table cell</td>
                                    <td class="hidden-xs">Table cell</td>
                                    <td class="hidden-xs hidden-sm">Table cell</td>
                                    <td class="numeric">$1.200,00</td>
                                    <td class="numeric">2</td>
                                </tr>
                                <tr>
                                    <td>Table cell</td>
                                    <td class="hidden-xs">Table cell</td>
                                    <td class="hidden-xs hidden-sm">Table cell</td>
                                    <td class="numeric">$1.200,00</td>
                                    <td class="numeric">2</td>
                                </tr>
                                <tr>
                                    <td>Table cell</td>
                                    <td class="hidden-xs">Table cell</td>
                                    <td class="hidden-xs hidden-sm">Table cell</td>
                                    <td class="numeric">$1.200,00</td>
                                    <td class="numeric">2</td>
                                </tr>
                                <tr>
                                    <td>Table cell</td>
                                    <td class="hidden-xs">Table cell</td>
                                    <td class="hidden-xs hidden-sm">Table cell</td>
                                    <td class="numeric">$1.200,00</td>
                                    <td class="numeric">2</td>
                                </tr>
                                <tr>
                                    <td>Table cell</td>
                                    <td class="hidden-xs">Table cell</td>
                                    <td class="hidden-xs hidden-sm">Table cell</td>
                                    <td class="numeric">$1.200,00</td>
                                    <td class="numeric">2</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>