<div class="nav-wrapper">
  <ul id="nav"
  class="nav"
  data-ng-controller="NavCtrl"
  data-slim-scroll
  data-collapse-nav
  data-highlight-active>
    <li><a href="#/sell"> <i class="fa fa-shopping-cart"></i><span data-i18n="Sell"></span> </a></li>
    <li><a href="#/products"> <i class="fa fa-cube"></i><span data-i18n="Products"></span> </a></li>
    <li><a href="#/orders"> <i class="fa fa-truck"></i><span data-i18n="Orders"></span> </a></li>
    <li><a href="#/reports"> <i class="fa fa-line-chart"></i><span data-i18n="Reports"></span> </a></li>

    @*<li>*@
      @*<a href="#/table"><i class="fa fa-table"></i><span data-i18n="Tables"></span></a>*@
      @*<ul>*@
        @*<li><a href="#/tables/static"><i class="fa fa-caret-right"></i><span data-i18n="Static Tables"></span></a></li>*@
        @*<li><a href="#/tables/responsive"><i class="fa fa-caret-right"></i><span data-i18n="Responsive Tables"></span></a></li>*@
        @*<li><a href="#/tables/dynamic"><i class="fa fa-caret-right"></i><span data-i18n="Dynamic Tables"></span></a></li>*@
      @*</ul>*@
    @*</li>*@
  </ul>
</div>