<div class="page page-dashboard fill-height" data-ng-controller="DashboardCtrl">

    <div class="row fill-height">
        <div class="col-md-6 fill-height">
            <div class="well well-custom c-row-no-padding bg-reverse" id="register">
                <div id="register-list">
                    <div class="input-group">
                        <input type="text" class="form-control" i18n="i18n-placeholder" placeholder="Search for product...">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search"></span></button>
                        </span>
                    </div>
                    <table class="table table-hover">
                        <tbody>
                            <tr ng-repeat="p in ctrl.cart">
                                <td class="col-xs-1">
                                    <span class="col-xs-10 col-xs-offset-2">
                                        <a href class="btn-icon btn-icon-round btn-icon-xs bg-warning" ng-click="ctrl.removeFraction($index)" popover-template="'changeCountTemplate.html'" popover-placement="right"><strong>{{p.count}}</strong></a>
                                    </span>
                                </td>
                                <td class="col-xs-8">
                                    <a href ng-click="ctrl.showProduct(product.id)"><strong>{{p.name}}</strong></a>
                                    <span class="ui-rating ui-rating-warning">
                                        <i ng-click="product.starred=!product.starred" class="fa" ng-class="p.bookmarked || hovered? 'fa-star':'fa-star-o'" ng-mouseenter="hovered=true" ng-mouseleave="hovered=false">
                                        </i>
                                    </span>
                                </td>
                                <td class="col-xs-3 text-right">
                                    <span class="col-xs-10">
                                        <span class="badge badge-default price-badge" popover-template="'changePriceTemplate.html'" popover-placement="left">{{p.retailPrice*p.count}}</span>
                                    </span>
                                    <span class="col-xs-2 text-center">
                                        <a href class="btn-icon btn-icon-round btn-icon-xs text-danger"><i class="fa fa-remove"></i></a>
                                    </span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <script type="text/ng-template" id="changeCountTemplate.html">
                        <div class="form-group">
                            <label i18n="Quantity"></label>
                            <spinner-input model="p.count" initval="{{p.count}}" min="1" max="10000"></spinner-input>
                        </div>
                    </script>
                    <script type="text/ng-template" id="changePriceTemplate.html">
                        <div class="form-group">
                            <label class="control-label" for="retailPrice"><span i18n="Unit Price"></span>&nbsp;&nbsp;<small i18n="(After Taxes)" class="c-label-subscript"></small></label>
                            <div class="input-group">
                                <span class="input-group-addon">$</span>
                                <input id="retailPrice" class="form-control" type="text" ng-model="p.retailPrice" ng-change="ctrl.retailPriceUpdated()" money mgMaxlength="8" focus-here>
                            </div>
                        </div>
                    </script>
                </div>
                <div class="col-xs-offset-7 col-xs-5">
                    <table class="table table-condensed borderless">
                        <tbody>
                            <tr>
                                <td i18n="Subtotal"></td>
                                <td class="text-right">$0.00</td>
                            </tr>
                            <tr>
                                <td i18n="Tax"></td>
                                <td class="text-right">$0.00</td>
                            </tr>
                            <tr>
                                <td><strong i18n="TOTAL"></strong></td>
                                <td class="text-right"><strong>$0.00</strong></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div id="register-actions">
                    <div class="pull-right">
                        <button type="button" class="btn btn-w-sm btn-gap-v btn-round btn-default">
                            <span class="glyphicon glyphicon-trash"></span>
                            <span i18n="Clear"></span>
                        </button>
                        <button type="button" class="btn btn-w-sm btn-gap-v btn-round btn-default">
                            <span class="glyphicon glyphicon-plus"></span>
                            <span i18n="New"></span>
                        </button>
                        <button type="button" class="btn btn-w-sm btn-gap-v btn-round btn-info">
                            <span class="glyphicon glyphicon-usd"></span>
                            <span i18n="Pay"></span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 hidden-sm fill-height">
            <div class="panel panel-default products-panel" id="register">
                <div class="panel-heading">
                    <strong i18n="Bookmarks"></strong>
                </div>
                <div class="products-container" products="ctrl.bookmarks"></div>
            </div>
        </div>
    </div>

</div>
  