<div class="page page-dashboard fill-height" data-ng-controller="DashboardCtrl">

    <div class="row fill-height">
        <div class="col-md-6 fill-height">
            <div class="well well-custom c-row-no-padding bg-reverse" id="register">
                <div id="register-list">
                    <div class="input-group">
                        <input type="text" class="form-control" i18n="i18n-placeholder" placeholder="Search for product...">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search"></span></button>
                        </span>
                    </div>
                </div>
                    <div class="col-xs-offset-7 col-xs-5">
                        <table id="table-sale-totals" class="table table-condensed borderless">
                            <tbody>
                                <tr>
                                    <td class="total-item">
                                        Subtotal
                                    </td>
                                    <td class="text-right">$0.00</td>
                                </tr>

                                <tr>
                                    <td>Tax</td>
                                    <td class="text-right">$0.00</td>
                                </tr>

                                <tr>
                                    <td class="total-item">
                                        <strong>TOTAL</strong>
                                    </td>
                                    <td class="text-right"><strong>$0.00</strong></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                <div id="register-actions">
                    <div class="pull-right">
                        <button type="button" class="btn btn-w-sm btn-gap-v btn-round btn-default">
                            <span class="glyphicon glyphicon-trash"></span>
                            <span i18n="Clear"></span>
                        </button>
                        <button type="button" class="btn btn-w-sm btn-gap-v btn-round btn-default">
                            <span class="glyphicon glyphicon-plus"></span>
                            <span i18n="New"></span>
                        </button>
                        <button type="button" class="btn btn-w-sm btn-gap-v btn-round btn-info">
                            <span class="glyphicon glyphicon-usd"></span>
                            <span i18n="Pay"></span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 hidden-sm fill-height">
            <div class="panel panel-default products-panel" id="register">
                <div class="panel-heading">
                    <strong i18n="Favorites"></strong>
                </div>
                <div class="product-container">

                    <div class="panel product-box button">
                        <div class="producttitle">Dicloxacilina 100mg</div>
                        <div class="productprice">
                            <div class="pull-right">
                                <a href="javascript:;" class="btn-icon btn-icon-xs"><i class="fa fa-trash"></i></a>
                            </div>
                            <div class="pricetext">$18,000</div></div>
                    </div>

                    <div class="panel product-box">
                        <div class="producttitle">Product 3</div>
                        <div class="productprice">
                            <div class="pull-right">
                                <a href="javascript:;" class="btn-icon btn-icon-xs"><i class="fa fa-trash"></i></a>
                            </div>
                            <div class="pricetext">£8.95</div></div>
                    </div>



                    <div class="panel product-box">
                        <div class="producttitle">My third nice Product </div>
                        <div class="productprice">
                            <div class="pull-right">
                                <a href="javascript:;" class="btn-icon btn-icon-xs"><i class="fa fa-trash"></i></a>
                            </div>
                            <div class="pricetext">£8.95</div></div>
                    </div>


                    <div class="panel product-box">
                        <div class="producttitle">Product 3</div>
                        <div class="productprice">
                            <div class="pull-right">
                                <a href="javascript:;" class="btn-icon btn-icon-xs"><i class="fa fa-trash"></i></a>
                            </div>
                            <div class="pricetext">£8.95</div></div>
                    </div>


                    <div class="panel product-box">
                        <div class="producttitle">Another Nice product put here</div>
                        <div class="productprice">
                            <div class="pull-right">
                                <a href="javascript:;" class="btn-icon btn-icon-xs"><i class="fa fa-trash"></i></a>
                            </div>
                            <div class="pricetext">£8.95</div></div>
                    </div>
                    <div class="product-filler"></div>
                    <div class="product-filler"></div>
                    <div class="product-filler"></div>
                    <div class="product-filler"></div>
                    <div class="product-filler"></div>
                </div>

            </div>
        </div>
    </div>

</div>
  